* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
}
header {
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0px 20px
}
header .nav li {
  margin-left: 10px;
}
header .nav li a {
  color: black;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
header .nav li picture img {
  width: 32px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
}
/*MAIN*/
main {
  width: 100%;
  height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main picture img {
  width: 272px;
  height: 92px;
  margin-bottom: 20px;
  margin-top: 109px;
}
.buscador {
  width: 460px;
  height: 44px;
  padding: 0px 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;

}
.buscador .lupa {
  font-size: 1.5rem;
}
.buscador .micro {
  font-size: 1.5rem;
}
.buscador input {
  width: 387px;
  padding: 12px;
  border: none;
}
.items {
  margin-bottom: 20px;
}
.items button {
  height: 34px;
  padding: 0px 16px;
  background-color: #fff;
  border: none;
  margin: 0px 4px;
  font-size: 1.4rem;
}
main p {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}
/*FOOTER*/
footer {
  width: 100%;
  height: 82px;
}
.pais {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 27px;
  border-top: 1px solid #ccc;
}
.pais p {
  color: rgba(0,0,0,.54);
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.links {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
.nosotros {
  display: flex;
  list-style: none;
}
.nosotros li {
  padding-left: 27px;
}
.nosotros li a {
  color: rgba(0,0,0,.54);
  font-size: 1.4rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.politicas {
  display: flex;
  list-style: none;
}
.politicas li {
  padding-right: 27px;
}
.politicas li a {
  color: rgba(0,0,0,.54);
  font-size: 1.4rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}